<div class="container my-5">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Compte</th>
                <th scope="col">N° de transaction</th>
                <th scope="col">Date</th>
                <th scope="col">Description</th>
                <th scope="col">Montant</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">000012</th>
                <td>1234</td>
                <td>19/10/2019</td>
                <td>Virement emis en faveur de ismail</td>
                <td>-200.00</td>
            </tr>
            <tr>
                    <th scope="row">000013</th>
                    <td>1234</td>
                    <td>19/10/2019</td>
                    <td>Virement emis en faveur de hamza</td>
                    <td>-100.00</td>
                </tr>
                
        </tbody>
    </table>
</div>