<div class="container my-3">
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Paramétres</a>
                </li>

            </ul>
        </div>
        <div class="form-group">
            <div class="mx-4 mt-3" style="text-align: initial;">
                <label>
                    <h5> Taux de commisions sur virement</h5>
                </label>
                <input style="padding-right: 2em; ">
                <p></p>
                <label>
                    <h5>Nombre maximum de clients par conseiller</h5>
                </label>
                <input style="padding-right: 2em; ">
                <p></p>
                <label>
                    <h5>Nombre maximum de conseillers</h5>
                </label>
                <input style="padding-right: 2em; ">
                <p></p>
                <label>
                    <h5>Style de graphe pour l’écran de transactions</h5>
                </label>
                <select class="form-control form-control-sm">
                    <option>Histogramme (par défaut)</option>
                    <option>Camembert</option>
                </select>
                <button class="btn btn-success btn-block mt-5"
                    style="margin-left: em; padding-block: 2em;">Enregistrer</button>
            </div>
        </div>
    </div>
</div>